body {
    margin:0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Poiret-one, Arial, Verdana, sans-serif;
    color: #444;
}

/* Font Includes */
@font-face {
    font-family: 'Poiret-one';
    font-style: normal;
    font-weight: 400;
    src: local('Poiret-one'), url(../font/Poiret-one.woff) format('woff');
}

@font-face {
    font-family: 'Allan';
    font-style: normal;
    font-weight: 400;
    src: local('Allan'), url(../font/Allan.woff) format('woff');
}

#layout {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar {
    top: 0;
    bottom: 0;
    background-color: #22748A;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: #086FA1 solid 0.2em;
}

.header h1 {
    color: #086FA1;
}

.header span {
    color: #086FA1;
}

.header p {
    color: #086FA1;
}

.header .icon {
    color: #FFFFFF;
}

.header h4 {
    color: #086FA1;
}

.header a {
    text-decoration: no-underline;
}

.logo {
}

.logo-link {
    text-decoration: no-underline;
}

.minibay-menu {
    background-color: #F3F3E7;
    margin-top: 0.5em;
    margin-right: 1em;
}


/* Header Element Styling */
h1 {
    font-family: Allan, Arial, Helvetica, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: Allan, Arial, Helvetica, sans-serif;
    margin: 0.5em 0.2em;
    color: #086FA1;
}

h3 {
    font-family: Allan, Arial, Helvetica, sans-serif;;
    margin: 0.5em 0.2em;
    font-size: 2em;
    color: #086FA1;
}

.mid-blue {
    color: #086FA1;
}

.white {
    color: #FFFFFF;
}

h4 {
    font-family: Allan, Arial, Helvetica, san-serif;
    font-size: 1em;
}

/* End of header styling */

/* General element styling */
p {
    margin: 1em;
    color: #444;
    font-family: Poiret-one, Arial, Verdana, sans-serif;
}

/* Product browsing styling */
.browse-row {

}

.product-overview {
    margin: 0.2em;
}

.product-overview img {
    margin: 0.2em;
}

.product-overview h3 {
    font-family: Allan, Arial, Helvetica, san-serif;
}

/* End of general element styling */
.top-menu {

}

.top-menu li {
    list-style: none;
    float: left;
    display: block;
    margin-top: 1em;
    margin-left: 1em;
}

.auth-block {
    margin-top: 1em;
    padding-left: 2em;
}
.auth-block #welcome {
    margin: 0.5em;
}

.light-text {
    color: #F3F3E7;
}

.dark-text {
    color: #242324;
}

.lead-text {
    font-weight: bold;
}

.drop-shadow {

}