<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="top-menu">
    <div class="pure-menu pure-menu-open pure-menu-horizontal minibay-menu">
        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="./products">Products</a></li>
            <li><a href="./categories">categories</a></li>
        </ul>
    </div>
</div>

<div th:fragment="authenticate">
    <div class="pure-menu pure-menu-open pure-menu-horizontal minibay-menu pull-right">
        <ul>
            <li th:if="${user}" class="pull-right"><a href="#"><span class="el-icon-dashboard"></span> My Dashboard</a></li>
            <!-- Authenticate button -->
            <li><button class="pull-right button-secondary pure-button"><span class="el-icon-user"></span> Log In</button></li>
        </ul>
    </div>
</div>

</body>

</html>