<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <div class="row">
        <div th:include="fragment/header :: logo"></div>
        <div class="top-menu" th:include="fragment/header :: top-menu"></div>
        <div class="auth-block" th:include="fragment/header :: authenticate"></div>
    </div>
</div>

<div th:fragment="logo">
    <div class="medium-4 columns">
        <a href="./" class="drop-shadow"><h1><span class="el-icon-shopping-cart" /> MiniBay</h1></a>
        <h4 class="drop-shadow">Buy stuff you don't need at a price you can't afford</h4>
    </div>
</div>

<div th:fragment="top-menu">
    <div class="medium-4 columns top-menu">
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./product">Products</a></li>
            <li th:if="${user}"><a href="./user">Profile</a></li>
            <li th:unless="${user}"><a href="./registration">Registration</a></li>
        </ul>
    </div>
</div>

<div th:fragment="authenticate">
    <div th:if="${session.user}" class="medium-4 columns pull-right">
        <!-- Log-out button -->
        <a href="#" class="button small radius right"><span class="icon el-icon-user"></span> Log Out</a>
        <p class="" id="welcome">Welcome <span th:text="${session.user.userDetails.firstname}">User</span></p>
    </div>
    <div th:unless="${session.user}" class="medium-4 columns pull-right">
        <!-- Authenticate button (w/ Modal panel)-->
        <a href="#" data-reveal-id="login-modal" class="button small radius right"><span class="icon el-icon-user"></span> Log In</a>
    </div>
    <div th:include="fragment/modals :: login"></div>
</div>

</body>

</html>