<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="login">
    <div id="login-modal" class="reveal-modal small" data-reveal=''>
        <h3>Login to join the fun</h3>
        <form>
            <fieldset>
                <legend>Login</legend>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>
                            Username:
                            <input type="text" id="auth-username-input" placeholder="Amazeballs123" />
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>
                            Password:
                            <input type="password" id="auth-password-input" placeholder="super secret..." />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <a href="#" id="authenticate-user-button" class="button small radius right">Log me in!</a>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </fieldset>
        </form>
    </div>
</div>

</body>

</html>