<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MiniBay | Bid On Stuff</title>

    <!-- CSS Includes -->
    <!--<link rel="stylesheet" href="public/style/pure-min.css" /> -->
    <link rel="stylesheet" href="public/css/normalize.css" />
    <link rel="stylesheet" href="public/css/foundation.min.css" />
    <link rel="stylesheet" href="public/css/mini_bay.css" />
    <link rel="stylesheet" href="public/css/elusive-webfont.css" />

    <!-- Early Javascript includes -->
    <script src="public/js/vendor/modernizr.js"></script>

    <script src="public/js/jquery-1.11.0.min.js"></script>
    <script src="public/js/minibay.js"></script>

</head>
<body>
    <div class="header">
        <div th:include="fragment/header :: header"></div>
    </div>


    <div class="pure-u-3-4">
        <div class="pure-g">
            <div th:include="fragment/header :: top-menu" class="pure-u-1-2"></div>
            <div th:include="fragment/header :: authenticate" class="pure-u-1-2"></div>
        </div>

    <h1>Hello from Thymeleaf</h1>
    <p>This is the products template.</p>


    <!-- Javascript includes here -->

    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="title">Title</label>
                <input id="title" type="text" placeholder="Title goes here..." />
            </div>

            <div class="pure-control-group">
                <label for="description">Description</label>
                <input id="description" type="text" placeholder="Description goes here..." />
            </div>

            <div>
                <button type="button" class="pure-button pure-button-primary" id="product-button">Submit</button>
            </div>
        </fieldset>
    </form>

        <div class="pure-g">
            <button type="button" class="pure-button pure-button-primary" id="product-count">Count</button>
            <button type="button" class="pure-button pure-button-primary" id="all-products">All products</button>
        </div>

        <div class="pure-g">
            <div class="pure-u-1">
                <h2>Products</h2>

            </div>
        </div>
        <div th:if="${products.size() > 0}">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.title}">Shizzle</td>
                    <td th:text="${product.description}">Bizzle</td>
                </tr>
            </table>
        </div>
        <div th:unless="${products.size() > 0}">
            <p>There are no products currently registered. Why don't you add one?</p>
        </div>
    </div>
</body>
</html>