<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MiniBay | Bid On Stuff</title>

    <!-- CSS Includes -->
    <!--<link rel="stylesheet" href="public/style/pure-min.css" /> -->
    <link rel="stylesheet" href="public/css/normalize.css" />
    <link rel="stylesheet" href="public/css/foundation.min.css" />
    <link rel="stylesheet" href="public/css/mini_bay.css" />
    <link rel="stylesheet" href="public/css/elusive-webfont.css" />

    <!-- Early Javascript includes -->
    <script src="public/js/vendor/modernizr.js"></script>

</head>
<body>
    <div class="header">
        <div th:include="fragment/header :: header"></div>
    </div>

    <div class="row">
        <h2 class="mid-blue">Products Page</h2>
        <p>Take a look at the products currently up for grabs. Take a cheeky long-shot or grab yourself a bargain it can all eb yours from here.
        Alternatively why not add your own product to sell it on?</p>
    </div>
    <div th:if="${session.user}" class="row">
        <div class="center medium-12 columns">
            <a href="#" class="button small radius" data-reveal-id="add-product-modal">Flog an item now!</a>
        </div>
        <div th:include="fragment/modals :: add-product"></div>
    </div>


    <div class="row">
        <h2 class="mid-blue">Products</h2>
        <!-- Javascript includes here -->

        <div th:if="${products.size() > 0}">
            <!-- Loop over products -->
            <div th:each="product,iterStat : ${products}">
                <div th:if="${iterStat.even}?" class="row browse-row">
                    <div class="medium-6 columns product-overview">
                        <img src="http://placehold.it/150x150" />
                        <h3 th:text="${product.title}">Title goes here</h3>
                        <p th:text="${product.shortDescription}">Description goes here</p>
                        <!-- Buttons and time left etc -->
                        <a href="#" class="button tiny radius right white"><span class="el-icon-search"></span> View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${products.size() > 0}">
            <p>There are no products currently registered. Why don't you add one?</p>
            <p></p>
        </div>
    </div>
    <script src="public/js/jquery-1.11.0.min.js"></script>
    <script src="public/js/foundation.min.js"></script>
    <script src="public/js/mustache.js"></script>
    <script src="public/js/minibay.js"></script>
    <script>
        console.log('Loading foundation');
        $(document).foundation();
    </script>
</body>
</html>